obj
bin
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.suo
*.cache
~$*
*.ReSharper.user
*.sln.docstates
*.user
/nuget/lib/net40/EmbeddedResourceVirtualPathProvider.dll
/nuget/lib/net40/EmbeddedResourceVirtualPathProvider.pdb
